body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(253, 231, 233); /* Light gray background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #333333; /* Dark text color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555; /* Medium gray text color */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc; /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Green button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
