<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sportify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <header>

        <div style="height: 200px; width: 200px;"  class="sportify-logo">
            <img src="{{ url_for('static', filename='sportify-logo.png') }}" alt="Sportify Logo">
        </div>
        <div class="user-profile">
            <a href="/profile/{{ user_id }}"><img src="{{ url_for('static', filename='profile-icon.png') }}" alt="Profile"></a>
        </div>
        <div class="notification">
            <a href="#" onclick="showNotifications()"><img src="{{ url_for('static', filename='notification-icon.png') }}" alt="Notification"></a>
        </div>

        <!-- Notification pop-up -->
        <div id="notificationPopup" class="popup">
            <h2>Notifications:</h2>
            <ul>
                {% for message in message_list %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button onclick="hideNotifications()">Close</button>
        </div>
    </header>


    <main>
        <div class="sport-option">
            <a href="/sport/{{ user_id }}?name=football">Football</a>
        </div>
        <div class="sport-option">
            <a href="/sport/{{ user_id }}?name=basketball">Basketball</a>
        </div>
        <div class="sport-option">
            <a href="/sport/{{ user_id }}?name=tennis">Tennis</a>
        </div>
        <div class="sport-option">
            <a href="/sport/{{ user_id }}?name=badminton">Badminton</a>
        </div>
        <div class="sport-option">
            <a href="/sport/{{ user_id }}?name=swimming">Swimming</a>
        </div>
        </div>
    </main>

    <script>
        // JavaScript functions to show and hide the notification pop-up
        function showNotifications() {
            document.getElementById("notificationPopup").style.display = "block";
        }

        function hideNotifications() {
            document.getElementById("notificationPopup").style.display = "none";
        }
    </script>
</body>

</html>