<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sportify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <header>
        <div style="height: 200px; width: 200px;"  class="sportify-logo">
            <img src="{{ url_for('static', filename='sportify-logo.png') }}" alt="Sportify Logo">
        </div>
        <div class="user-profile">
            <a href="/profile/{{ user_id }}"><img src="{{ url_for('static', filename='profile-icon.png') }}" alt="Profile"></a>
        </div>
        <div class="notification">
            <a href="#"><img src="{{ url_for('static', filename='notification-icon.png') }}" alt="Notification"></a>
        </div>
    </header>


    <main>
        <div class="sports">
            <div class="sport-option">
                <a href="/football_users">Football</a>
            </div>
            <div class="sport-option">
                <a href="/basketball_users">Basketball</a>
            </div>
            <div class="sport-option">
                <a href="/tennis_users">Tennis</a>
            </div>
            <div class="sport-option">
                <a href="/badminton_users">Badminton</a>
            </div>
            <div class="sport-option">
                <a href="/swimming_users">Swimming</a>
            </div>
        </div>
    </main>
</body>

</html>